@import './fonts.css';

:root {
  --text-color: #383838;
  --general-white: #fff;
  --col-width: calc(100% / 12);
}

<<<<<<< HEAD
=======
#viewport {
  overflow: hidden;
}

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-style: normal;
}

.col-lg-1 {
  width: var(--col-width);
}

.col-lg-2 {
  width: calc(var(--col-width) * 2);
}

.col-lg-3 {
  width: calc(var(--col-width) * 3);
}

.col-lg-4 {
  width: calc(var(--col-width) * 4);
}

.col-lg-5 {
  width: calc(var(--col-width) * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc(var(--col-width) * 7);
}

.col-lg-8 {
  width: calc(var(--col-width) * 8);
}

.col-lg-9 {
  width: calc(var(--col-width) * 9);
}

.col-lg-10 {
  width: calc(var(--col-width) * 10);
}

.col-lg-11 {
  width: calc(var(--col-width) * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*='col-'] {
  padding-left: 16px;
  padding-right: 16px;
}

.container {
  max-width: 1264px;
  padding: 0 16px;
  margin: 0 auto;
}

.svg-sprites {
  position: absolute;
  visibility: hidden;
  width: 0;
  height: 0;
}

.main {
  background-image: url(../image/header/background-header.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #10367c;
}

.container {
  max-width: 1264px;
  display: grid;
  padding: 0 16px;
  margin: 0 auto;
}

.lg-1-col {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.lg-2-col {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}

.lg-3-col {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}

.lg-4-col {
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
}

.lg-5-col {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
}

.lg-6-col {
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
}

.lg-7-col {
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
}

.lg-8-col {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto;
}

.lg-9-col {
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: auto;
}

.lg-10-col {
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto;
}

.lg-11-col {
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: auto;
}

.lg-12-col {
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

.header {
  display: grid;
  align-items: center;
  justify-items: end;
  padding-top: 50px;
<<<<<<< HEAD
  margin-bottom: 198px;
=======
  margin-bottom: 120px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.header--title {
  width: 205px;
  height: 40px;
  align-items: flex-start;
  align-self: start;
}

.header--nav {
<<<<<<< HEAD
  grid-column: 12 / 13;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 48px;
=======
  grid-column-start: 11;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 48px;
  align-items: center;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.navigation--links {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 24px;
<<<<<<< HEAD
  align-items: center;
}

.navigation--mode {
=======
}

.navigation--links a:first-of-type {
  grid-column: 1 / 2;
}

.navigation--mode {
  grid-column: 2 / 3;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  width: 30px;
  height: 30px;
}

.navigation--login {
<<<<<<< HEAD
=======
  grid-column: 3 / 4;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  width: 40px;
  height: 40px;
}

.menu {
  display: none;
}

nav {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

nav a {
  text-decoration: none;
  color: var(--general-white);
  position: relative;
  line-height: 44px;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  top: 100%;
  left: 15%;
  background: #f5bd41;
  transform: translate(-10%);
}

nav a:hover::after {
  width: 90%;
}

.main-title {
  font-weight: 500;
  font-size: 50px;
  line-height: 59px;
  color: var(--general-white);
<<<<<<< HEAD
  margin-bottom: 95px;
=======
  margin-bottom: 100px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.search {
  display: grid;
  align-items: self-end;
  margin-bottom: 120px;
  font-size: 18px;
  line-height: 21px;
<<<<<<< HEAD
  grid-template-rows: initial;
  row-gap: 18px;
=======
  grid-template-rows: repeat(2, auto);
  row-gap: 24px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.search--name__icon {
  display: none;
}

.label-lg {
<<<<<<< HEAD
  width: 76%;
=======
  width: 60%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.search--name__title-lg {
  grid-column: 1 / 2;
}

.search--date__title-lg {
  grid-column: 2 / 3;
}

.input-lg {
  height: 65px;
  grid-row: 2 / 3;
  display: grid;
<<<<<<< HEAD
  grid-template-columns: 38% 21% 26% 15%;
=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  background: #fff;
  border: 3px solid #f3f3f4;
  border-radius: 8px;
  justify-items: stretch;
}

.search--name__input-lg {
<<<<<<< HEAD
  padding-left: 24px;
}

.search--date__input-lg {
=======
  grid-column: 1 / 5;
}

.search--date__input-lg {
  grid-column: 5 / 6;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  height: 62px;
  border-top: 0 solid #f5bd41;
  border-bottom: 3px solid #f5bd41;
  border-right: 3px solid #f5bd41;
  border-left: 2px solid #f5bd41;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 -2px 0 1px #f5bd41;
<<<<<<< HEAD
  text-align-last: center;
  padding-top: 7px;
}

.search--check__bar {
  text-align-last: center;
}

.search--submit__input {
=======
}

.search--check__bar {
  grid-column: 6 / 11;
  text-align: center;
}

.search--submit__input {
  grid-column: 11 /13;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  background: #3077c6;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: var(--general-white);
  border-radius: 8px;
  box-shadow: 4px -2px 0 2px #3077c6;
<<<<<<< HEAD
  text-align-last: center;
=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.search--name__input-lg,
.search--check__bar,
.search--submit__input {
  height: 62px;
  border: none;
}

<<<<<<< HEAD
.block-sm {
=======
.search--name_sm,
.search--date_sm,
.search--check_sm,
.search--submit_sm {
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  display: none;
}

._white {
  color: var(--general-white);
  padding-left: 25px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  text-align: left;
}

._black {
  color: var(--text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
<<<<<<< HEAD
=======
  padding-left: 24px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  text-align: start;
}

.app {
<<<<<<< HEAD
  width: 21%;
  gap: 16px;
=======
  gap: 40px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.app svg {
  margin-bottom: 120px;
}

.app svg:first-child {
  width: 135px;
  height: 40px;
  justify-self: end;
}

.app svg:last-child {
  width: 120px;
  height: 40px;
  justify-self: start;
}

.advantages {
  padding-top: 120px;
  padding-bottom: 120px;
}

h2 {
  position: relative;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: var(--text-color);
}

h2::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 500%);
  background-color: #f5bd41;
}

h2:hover::after {
  width: 100px;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
  margin-top: 104px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__headphones {
  height: 176px;
  padding-top: 4px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__forum {
  height: 178px;
  padding-top: 8px;
  padding-bottom: 2px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__booking {
  height: 183px;
  padding-top: 16px;
  padding-bottom: 7px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__like {
  padding-top: 4px;
  padding-bottom: 7px;
  height: 183px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__img-headphones {
  width: 75px;
  height: 91px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__img-forum {
  width: 83px;
  height: 83px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__img-booking {
  width: 100px;
  height: 66px;
}
<<<<<<< HEAD
=======

>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.advantages--row__img-like {
  width: 91px;
  height: 83px;
}

.advantages--row__title p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--text-color);
}

.background-homes {
  background-color: #eaf0f9;
}

.homes {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  row-gap: 104px;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
}

.homes-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: #383838;
}

.homes--gallery {
  display: flex;
  column-gap: 16px;
  flex-direction: row;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.homes--gallery::-webkit-scrollbar {
  height: 0;
}

.slider {
  width: 100%;
  transition: 500ms;
  display: grid;
  grid-template-rows: repeat(4, auto);
  row-gap: 24px;
  margin: auto;
  box-sizing: border-box;
}

<<<<<<< HEAD
.homesImg {
  width: 300px;
  height: 300px;
}

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
.name {
  grid-row: 2 / 3;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
  cursor: pointer;
}

.name:hover {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
  color: #43434d;
}

.homes--gallery p:first-of-type {
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.localization {
  grid-row: 3 / 4;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #bfbfbf;
}

.localization--country {
  grid-row: 4 / 5;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-top: -20px;
  color: #bfbfbf;
}

.circle-svg {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#next {
  top: 50%;
  right: 0;
  transform: translate(15%, -50%);
}

#prev {
  top: 50%;
  left: 0;
  transform: translate(-15%, -50%);
  display: none;
}

.destination {
  margin-top: 100px;
  margin-bottom: 210px;
}

.switch {
  width: fit-content;
  display: grid;
  grid-template-columns: 192px 192px 238px;
  grid-template-rows: 64px;
  background-color: #f3f3f4;
  border-radius: 8px;
  margin-top: 104px;
  margin-bottom: 64px;
}

.switch input {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
  background-color: #f3f3f4;
  border: none;
}

.switch input:nth-of-type(1) {
  background-color: #3077c6;
  border-radius: 8px;
  border: none;
  color: var(--general-white);
}

.switch input:nth-of-type(3) {
  border-radius: 8px;
}

.switch input:nth-of-type(4) {
  display: none;
}

.destination--gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 14px;
  position: relative;
}

.destination--gallery__hover-img img {
  width: 100%;
}

.destination--gallery__hover {
  position: relative;
}

.destination--gallery__hover input:first-of-type {
  position: absolute;
  width: 128px;
  height: 48px;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -45%);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3077c6;
  background-color: #fff;
  border: 1px solid #3077c6;
  border-radius: 8px;
}

.destination--gallery__hover-img {
  width: 100%;
  display: inline-block;
  background-color: rgb(56 56 56);
  line-height: 0;
}

.destination--gallery__hover-img img:hover {
  opacity: 0.4;
  box-shadow: inset 0 4px 70px;
}

.destination--gallery__hover input {
  display: none;
  animation: fade 0.2s linear forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.destination--gallery__hover:hover input {
  display: block;
  cursor: pointer;
}

.destination--gallery p {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #3077c6;
<<<<<<< HEAD
  padding-top: 18px;
=======
  padding-top: 24px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.destination--gallery div:last-child {
  width: 40px;
  height: 40px;
  content: '';
  position: absolute;
  right: 50%;
<<<<<<< HEAD
  bottom: -26%;
=======
  bottom: -25%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  transform: translateX(50%);
  background-color: #f3f3f4;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.circle-cursor svg {
  width: 9px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.sign-up-lg {
<<<<<<< HEAD
  width: 87%;
  height: 200px;
  position: relative;
  background-color: #eaf0f9;
  margin: 120px 93px;
  align-content: center;
=======
  height: 200px;
  position: relative;
  display: grid;
  grid-template-columns: 86px auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 21px;
  column-gap: 24px;
  justify-items: start;
  background-color: #eaf0f9;
  padding: 51px 0 52px 24px;
  margin: 120px 104px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.close {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-24px, 24px);
}

<<<<<<< HEAD
.sign-up--content-lg {
  display: grid;
  grid-template-columns: 86px auto;
  grid-template-rows: repeat(2, auto);
  row-gap: 21px;
  column-gap: 24px;
  justify-items: start;
  padding-left: 14px;
}

.sign-logo {
  width: 86px;
  height: 86px;
  grid-row: 1 / 3;
=======
.sign-logo {
  width: 86px;
  height: 86px;
  grid-row: 1 / span 3;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  grid-column: 1 / 2;
  background-color: var(--general-white);
  position: relative;
  border-radius: 50%;
<<<<<<< HEAD
  margin-top: 5px;
=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.sign-logo svg {
  position: absolute;
  width: 50px;
  height: 44px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sign-up-lg h4 {
  grid-row: 1 / 2;
  grid-column: 2/ 3;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #383838;
}

.sign-up-lg input {
  grid-row: 2 / 3;
  grid-column: 2/ 3;
  width: 128px;
  height: 48px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #3077c6;
  background-color: #fff;
  border: 1px solid #3077c6;
  border-radius: 8px;
  cursor: pointer;
}

.sign-up-sm {
  display: none;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  column-gap: 16px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  margin-bottom: 120px;
}

.reviews--title {
<<<<<<< HEAD
  margin-bottom: 115px;
=======
  margin-bottom: 104px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.reviews--top {
  grid-row: 1 / 2;
  position: relative;
}

.reviews--top img {
  width: 100%;
}

.reviews--bottom {
  width: 100%;
  grid-row: 2 / 3;
  background-color: #eaf0f9;
  margin-top: -4px;
  padding: 24px;
}

.background-price {
  width: 100%;
  height: 48px;
  position: absolute;
  content: '';
  bottom: 0;
  background-color: rgb(56 56 56 / 70%);
<<<<<<< HEAD
  transform: translateY(-1px);
=======
  transform: translateY(-4px);
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.reviews--column__price {
  position: absolute;
  bottom: 25%;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: var(--general-white);
  padding-left: 24px;
  opacity: 1;
}

.reviews--bottom__block {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, 21px);
  row-gap: 16px;
  justify-content: space-between;
  font-size: 18px;
  line-height: 21px;
  padding-bottom: 24px;
}

.reviews--bottom__title-main {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  color: #3077c6;
  font-weight: 500;
}

.reviews--bottom__title-sub {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  color: #3077c6;
  font-weight: 400;
}

.rating {
  width: 48px;
  height: 32px;
  color: var(--general-white);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  background-color: #10367c;
  border-radius: 8px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  padding: 4px 11px;
  justify-self: end;
}

.reviewers {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #bfbfbf;
}

.reviews--bottom__user {
  display: grid;
  grid-template-columns: repeat(2, auto);
  column-gap: 16px;
  justify-content: start;
  align-items: center;
  padding-bottom: 17px;
}

.photo {
  grid-column: 1 / 2;
  width: 100%;
}

.photo--icon {
  width: 54px;
  height: 54px;
  margin: 5px;
}

.user {
  grid-column: 2 / 3;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #383838;
}

.user p {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.reviews--bottom__text {
  font-size: 18px;
  line-height: 21px;
}

._rokoko div:last-child {
  width: 40px;
  height: 40px;
  content: '';
  position: absolute;
  right: 0;
<<<<<<< HEAD
  bottom: 45%;
=======
  bottom: 50%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  transform: translateX(50%);
  background-color: #f3f3f4;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.circle svg {
  width: 9px;
  height: 21px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

<<<<<<< HEAD
.slider-svg {
  display: none;
}

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
footer {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: var(--general-white);
  background-color: #10367c;
  padding-top: 120px;
  padding-bottom: 120px;
}

.logo-sm {
  display: none;
}

.columns {
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
<<<<<<< HEAD
  gap: 21px;
}

.lists {
  width: 32%;
=======
}

.lists {
  width: 33%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
}

.column--title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 24px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.footer-down {
<<<<<<< HEAD
  margin-top: 63px;
=======
  margin-top: 64px;
  padding-left: 104px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  font-size: 14px;
  line-height: 16px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  :root {
    --col-width: calc(100% / 6);
  }

  *::after {
    display: none;
  }

  .col-sm-1 {
    width: var(--col-width);
  }

  .col-sm-2 {
    width: calc(var(--col-width) * 2);
  }

  .col-sm-3 {
    width: calc(var(--col-width) * 3);
  }

  .col-sm-4 {
    width: calc(var(--col-width) * 4);
  }

  .col-sm-5 {
    width: calc(var(--col-width) * 5);
  }

  .col-sm-6 {
    width: 100%;
  }

  .sm-1-col {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .sm-2-col {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }

  .sm-3-col {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  .sm-4-col {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }

  .sm-5-col {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
  }

  .sm-6-col {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
  }

  .advantages h2::after {
    display: none;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .header {
<<<<<<< HEAD
    padding-top: 12px;
    margin-bottom: 51px;
=======
    margin-bottom: 40px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .header--nav {
    display: grid;
    grid-template-columns: 16px 24px 24px;
    column-gap: 16px;
    align-items: center;
  }

<<<<<<< HEAD
  ._lg {
=======
  .navigation--links {
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    display: none;
  }

  .header--title {
    width: 120px;
    height: 24px;
  }

<<<<<<< HEAD
  .navigation--links {
    gap: 16px;
  }

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  .navigation--mode {
    grid-column: 1 / 2;
    width: 16px;
    height: 16px;
  }

  .navigation--login {
    grid-column: 2 / 3;
    width: 24px;
    height: 24px;
  }

  .menu {
    grid-column: 3 / 4;
    display: block;
    width: 24px;
    height: 16px;
  }

  .main-title {
    font-size: 30px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .search--date_sm,
  .name-sm,
  .search--check-sm,
<<<<<<< HEAD
  .search--submit-sm,
  .block-sm {
=======
  .search--submit-sm {
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    display: block;
  }

  .search {
<<<<<<< HEAD
    width: 91%;
=======
    width: 90%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 8px;
    padding: 0;
    border: 8px solid #f5bd41;
    background-color: #f5bd41;
<<<<<<< HEAD
    margin: 32px 17px;
=======
    margin: 31px 16px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .search input {
    height: 48px;
  }

  .label-lg,
  .input-lg {
    display: none;
  }

  .search--name_sm {
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    position: relative;
    display: grid;
  }

  .search--name__input-sm {
    width: 100%;
    padding-left: 10%;
  }

  .search--name__icon {
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
<<<<<<< HEAD
    left: 6%;
=======
    left: 5%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    transform: translate(-50%, -50%);
  }

  .search--date_sm {
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 8px;
    position: relative;
  }

  .search--date__title_sm {
    position: absolute;
    top: 6px;
  }

  .search--check_sm {
    grid-row: 3 / 4;
    grid-column: 1 / 4;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(3, 1fr);
    background-color: var(--general-white);
    border-radius: 4px;
    position: relative;
  }

  .search--check__title_sm {
    position: absolute;
    top: 6px;
  }

  ._midl::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 32px;
    transform: rotate(90deg) translate(-50%, -50%);
    background-color: #bfbfbf;
    left: -30%;
    bottom: -150%;
  }

  ._end::before {
    position: absolute;
    content: '';
    height: 1px;
    width: 32px;
    transform: rotate(90deg) translate(-50%, -50%);
    background-color: #bfbfbf;
    left: -30%;
    bottom: -150%;
  }

  .search--date__title_sm,
  .search--check__title_sm {
    grid-row: 1 / 2;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: start;
    color: #383838;
    padding-left: 8px;
  }

  .search--name__input-sm,
  .search--date__input_sm,
  .search--check__input_sm,
  .search--submit__input_sm {
    width: 100%;
    grid-row: 2 / 3;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    text-align: start;
    color: #383838;
    padding-left: 8px;
    padding-top: 24px;
    border-radius: 4px;
    border: none;
    text-decoration: none;
  }

  ._search {
<<<<<<< HEAD
    padding-left: 11%;
=======
    padding-left: 10%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    padding-top: 0;
  }

  ._left,
  ._start {
    grid-column: 1 / 2;
  }

  ._right,
  ._midl {
    grid-column: 2 / 3;
  }

  ._end {
    grid-column: 3 / 4;
  }

  .search--submit_sm {
    grid-row: 4 / 5;
    grid-column: 1 / span 4;
  }

  .search--submit__input_sm {
    text-align: center;
    padding-left: 0;
    padding-top: 0;
    font-weight: 500;
    font-size: 19px;
    line-height: 22px;
    color: var(--general-white);
    background-color: #3077c6;
  }

<<<<<<< HEAD
  .app {
    width: 84%;
  }

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  .app svg {
    margin-bottom: 40px;
  }

  .column {
    margin-bottom: 32px;
<<<<<<< HEAD
    row-gap: 16px;
  }

  h2 {
=======
  }

  .column :last-child {
    margin-bottom: 0;
  }

  .advantages h2 {
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    font-size: 28px;
    line-height: 32px;
  }

  .row {
    margin-top: 32px;
  }

  .advantages {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    padding-top: 24px;
    padding-bottom: 9px;
  }

  .advantages--row__headphones,
  .advantages--row__forum,
  .advantages--row__booking,
  .advantages--row__like {
    height: 104px;
  }

  .advantages--row__img-headphones {
    width: 53px;
    height: 64px;
  }
  .advantages--row__img-forum {
    width: 58px;
    height: 58px;
  }
  .advantages--row__img-booking {
    width: 70px;
    height: 47px;
  }
  .advantages--row__img-like {
    width: 64px;
    height: 58px;
  }

  .advantages--row__title p {
    font-size: 15px;
    line-height: 18px;
=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .homes {
    row-gap: 32px;
    padding-top: 40px;
    padding-bottom: 40px;
  }

<<<<<<< HEAD
  .homes--gallery,
  .destination--gallery {
    display: grid;
    position: relative;
    row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  .homes-title,
  .destination__title {
    font-size: 28px;
    line-height: 33px;
  }

<<<<<<< HEAD
  .homes--gallery,
  .destination--gallery img {
    width: 100%;
=======
  .homes--gallery {
    width: 100%;
    column-gap: 16px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .homes--gallery p,
  .destination--gallery p {
    font-size: 12px;
<<<<<<< HEAD
    line-height: 15px;
  }

  .localization {
    margin-top: -6px;
=======
    line-height: 14px;
    margin-top: -5px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .homes--gallery p:first-of-type {
    text-shadow: none;
  }

<<<<<<< HEAD
  .homes_sm {
    display: none;
  }

  .homes--gallery div:last-of-type {
    width: 28px;
    height: 28px;
    content: '';
    position: absolute;
    right: 0;
    top: 30%;
    transform: translateX(44%);
    background-color: #f3f3f4;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  .circle svg {
    width: 7px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .destination {
    margin-top: 53px;
    margin-bottom: 20px;
=======
  .slider {
    row-gap: 10px;
  }

  .homesImg {
    width: 100%;
  }

  .destination {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .destination--gallery {
    display: grid;
    position: relative;
    row-gap: 8px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .switch {
    width: 100%;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 98px);
    grid-template-rows: 32px;
    column-gap: 16px;
    margin-top: 32px;
    margin-bottom: 24px;
    background-color: unset;
<<<<<<< HEAD
    border-radius: 4px;
=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .switch input {
    font-size: 19px;
    line-height: 22px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #f3f3f4;
  }

<<<<<<< HEAD
  .switch input:nth-of-type(1) {
    border-radius: 4px;
  }

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  .switch input:nth-of-type(3),
  .destination--gallery div:nth-of-type(3),
  .destination--gallery div:nth-of-type(4) {
    display: none;
  }

  .switch input:nth-of-type(4) {
    display: block;
  }

<<<<<<< HEAD
  .destination--gallery p {
    padding-top: 2px;
    padding-left: 2px;
  }

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  .destination--gallery div:last-child {
    width: 28px;
    height: 28px;
    content: '';
    position: absolute;
    right: 0;
<<<<<<< HEAD
    top: 32%;
    transform: translateX(43%);
=======
    top: 40%;
    transform: translateX(60%);
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    background-color: #f3f3f4;
    border-radius: 50%;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  .name:hover {
    text-shadow: none;
    color: #43434d;
  }

  .circle-cursor svg {
    width: 7px;
    height: 15px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
  }

  .sign-up-lg {
    display: none;
  }

  .background-reviews {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eaf0f9;
  }

  .reviews {
    display: block;
    margin-bottom: 0;
  }

  .title-sm {
    display: none;
  }

  .reviews--title {
    font-size: 28px;
    line-height: 33px;
    text-transform: capitalize;
    margin-bottom: 0;
  }

  .background-price {
    display: none;
  }

  .reviews--top {
    margin-top: 32px;
  }

  .reviews--bottom {
<<<<<<< HEAD
    margin-top: -8px;
=======
    margin-top: 0;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    padding: 0 0 32px 0;
    position: relative;
  }

<<<<<<< HEAD
  .reviews--bottom__user {
    column-gap: 18px;
    padding-bottom: 13px;
  }

  .photo--icon {
    width: 44px;
    height: 44px;
    margin: 2px;
  }

  .slider {
=======
  .slider-next {
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
    width: 56px;
    height: 8px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
<<<<<<< HEAD
    transform: translate(-50%, 30%);
=======
    transform: translate(-100%, -50%);
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .reviews--bottom__block {
    row-gap: 8px;
    justify-content: space-between;
    font-size: 15px;
    line-height: 18px;
    padding: 12px 0;
  }

  .rating {
    width: 40px;
    height: 27px;
    font-size: 15px;
    line-height: 20px;
  }

  .reviewers {
    font-size: 12px;
    line-height: 14px;
  }

  .photo-icon {
    width: 43px;
    height: 43px;
    margin: 5px;
  }

  .user p {
    margin-bottom: 4px;
    font-size: 15px;
    line-height: 18px;
  }

  .reviews--bottom__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
  }

  ._rokoko,
  ._king-kong,
  ._germany,
  ._usa {
    display: none;
  }

  .sign-up {
    width: 100%;
    display: inline-block;
    background-color: unset;
    padding: 24px 16px;
    margin-bottom: 0;
  }

  .sign-up-sm {
    width: 100%;
    height: 106px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-content: start;
    column-gap: 16px;
  }

  div.sign-up-sm svg:nth-child(1) {
    width: 16px;
    height: 16px;
    grid-column: 1 / 2;
  }

  div.sign-up-sm svg:nth-child(2) {
    width: 58px;
    height: 58px;
    grid-column: 2 / 3;
  }

  .sign-up-sm p {
    grid-column: 3 / 4;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #383838;
  }

  .sign-up-sm a {
    grid-column: 4 / 5;
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #3077c6;
    text-decoration: none;
  }

  footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }

<<<<<<< HEAD
  .columns {
    gap: 16px;
    font-size: 15px;
    line-height: 18px;
    justify-content: center;
  }

=======
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  .logo-sm {
    display: block;
    aspect-ratio: auto;
    height: 19px;
    margin: 0 auto;
<<<<<<< HEAD
    justify-content: center;
  }

  .lists {
    width: auto;
=======
  }

  .lists {
    width: 30%;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .column--title {
    margin-top: 40px;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    text-decoration-line: underline;
<<<<<<< HEAD
    padding-bottom: 30px;
=======
    padding-bottom: 32px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }

  .content {
    display: none;
  }

  .footer-down {
    font-size: 12px;
    line-height: 14px;
<<<<<<< HEAD
    margin-top: 0;
    justify-content: center;
=======
    margin: 0 auto;
    padding-left: 70px;
>>>>>>> 6bb69580fb375e3c7cdfdecf7bf2d3da8af91ddf
  }
}
